@import url('https://fonts.cdnfonts.com/css/sixtyfour');
@import "tailwindcss";

.font-sixtyfour {
  font-family: 'Sixtyfour', sans-serif !important;
}

::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: #aaa; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
